[2014-04-23 23:06] jeremyf opened #1 "Remove lib/active_triples from $LOAD_PATH"
In the `active_triples.gemspec` the following line exists:

[code]

With `lib/active_triples` in the $LOAD_PATH it can cause undesired behaviors for implementors. That is to say we may end up looking for an class named List and attempt to find it in "active_triples/list" because that directory is in the $LOAD_PATH.

[code]

http://guides.rubygems.org/specification-reference/#require_paths

[2014-04-23 23:23] #1 closed, assigned to nobody

[2014-04-24 20:53] no-reply opened #3 "Better Documentation on README.md"
Improve the docs.

[2014-04-24 21:46] scande3 opened #4 "Method for deleting a RDF triple node."
Currently, if one has to RDF triple nodes assigned, there is no good way to remove one of these nodes. Psuedo-code to generate an example below:

[code]

Now doc.license will give me two licenses. I'd like a method to delete one of them (say like the 2nd one).

[2014-04-25 16:32] scande3 opened #5 "Method not always existing with correct ntriple graph?"
I updated the following tutorial page: https://github.com/projecthydra/active_fedora/wiki/Lesson:-Define-a-Complex-Network-of-Related-RDF-Types-(AF7) but seem to be unable to get it to work as I'd expect. I may be doing something incorrectly in the new setup.

In this case, doing the following with that setup will give a correct "puts member.graph.dump(:ntriples)" but the members property will alw

[2014-04-25 18:47] #5 closed, assigned to nobody

[2014-04-25 18:53] no-reply opened #6 "Throw error when :class_name is not a Resource?"
Passing a URI leads to silent failures as documented in #5.

[2014-04-25 18:58] no-reply opened #7 "Make Record conform to ActiveModel API"
ActiveTriples should work like an ActiveModel. Look also at Validations and Serialization.

In progress in branch feature/active_model.

[2014-04-28 17:23] #7 closed, assigned to no-reply

[2014-04-28 17:51] #4 closed, assigned to nobody

[2014-04-29 05:50] no-reply opened #10 "Fixup inline rdocs"
Some of the inline documentation is out of date, coming from ActiveFedora.  Should fix it up and improve documentation throughout.

[2014-06-13 11:08] #6 closed, assigned to nobody

[2014-06-13 11:18] no-reply opened #13 "Cleanup remaining RSpec deprecations"
RSpec throws a few deprecation warnings. Make them go away.

[2014-06-13 11:19] no-reply opened #14 "Validations"
Add and document some core validation functionality.

[2014-06-13 12:20] #13 closed, assigned to nobody

[2014-06-13 13:07] no-reply opened #15 "Multiple Properties to Same Predicate"
Establish patterns for defining and accessing properties that share a single predicate, but differ in terms of the Resource class/rdf:type of their objects.

e.g. in the below, ```MyPerson#orcid``` should return only objects that are in the class datacite:PersonalIdentifier.

[code]

There are many cases to watch out for, and the desired behaviour should be defined carefully.

[2014-06-19 23:24] no-reply opened #16 "Named Graph Support"
Support for named graphs will require that graphs have an underlying repository. There may be some features to add to support common graph naming patterns.

[2014-06-20 01:14] no-reply opened #17 "Language Handling"
It should be possible to handle languages in Resource#get_values. Probably, RDF::Literals should be returned with their lang tag intact.

[2014-07-01 02:31] no-reply opened #19 "If you << an element onto a List, it doesn't auto-persist"
[Via @jcoyne at https://github.com/projecthydra/active_fedora/issues/444]

[code]

It looks like the list's graph isn't merged with the datastreams graph:

[code]

[2014-07-01 20:58] no-reply opened #20 "Move Identifiable from ActiveFedora (?)"
ActiveFedora::Rdf has an Identifiable concept, which allows ActiveFedora::Base objects to behave as ActiveTriples::Resources.  That concept should be moved over to ActiveTriples, and tests should be written that verify that it works on ActiveModel compliant libraries more generally.  The barebones of that exist in Resource, because of the presence of #from_uri.

The parts that are ActiveFedora-spe

[2014-07-03 02:31] jcoyne opened #21 "After clearing a list, you can't add to it."
[code]

[2014-07-03 12:48] jcoyne opened #23 "Get consent from all authors to switch license from Apache 2."

[2014-07-03 20:46] #21 closed, assigned to nobody

[2014-07-03 22:23] no-reply opened #25 "What should be the behavior of an empty list with a defined subject?"
The subject on a newly created empty list is rdf:Nil (defined as the empty list).  It can be used in a graph  (or as a value on a property) and correctly identify the empty list
For example:

[code]

So far so good.  But now let's add elements:

[code]

We can probably fix this pretty easily, but it's not entirely clear what the desired behavior is.  Given a bunch of empty lists identified by rdf:

[2014-07-03 22:27] no-reply opened #26 "List within a List is built as a generic Resource"
[code]

The Resource above should be an ActiveTriples::List.

[2014-07-22 14:46] jcoyne opened #27 "Setting a value is calling persist! in AF::Datastream:"
This causes a remote save, just by updating one property.

Persist called from here: https://github.com/no-reply/ActiveTriples/blob/master/lib/active_triples/term.rb#L124

[code]

[2014-07-22 18:05] jcoyne opened #28 "Should be able to set a node to nil to clear it."
[code]

[2014-07-22 18:10] #28 closed, assigned to nobody

[2014-08-14 20:09] jcoyne opened #33 "There should be an accessor that gives you the URIs in addition to the accessor that gives you objects"
Similar to how activerecord allows you to get a foreign key using `person_id` and the associated object via `person`

[2014-08-15 02:01] dchandekstark opened #34 "NoMethodError calling ArgumentError as a method"
[code]

[2014-08-15 13:42] #34 closed, assigned to nobody

[2014-08-15 13:49] dchandekstark opened #36 "Incorrect exception syntax"
https://github.com/no-reply/ActiveTriples/blob/master/lib/active_triples/resource.rb#L273

[code]

should be

[code]

[2014-08-20 15:07] jcoyne opened #38 "Cache doesn't clear for node resources."
[code]

[2014-08-21 20:19] dchandekstark opened #39 "Term#valid_datatype? blows up if resource is isomorphic and aliasing == to isomorphic_with?"
Resource basically looks like:

[code]

Error:

[code]

[2014-08-21 21:39] dchandekstark opened #41 "Term delegates too many methods"
I re-added :send to fix #39.  @jcoyne suggested using https://github.com/rails/rails/blob/08754f12e65a9ec79633a605e986d0f1ffa4b251/activerecord/lib/active_record/querying.rb#L3-L14 and https://github.com/rails/rails/blob/master/activerecord/lib/active_record/relation/delegation.rb#L46 instead.

[2014-08-22 15:32] dchandekstark opened #42 "Don't use set union in appending nodes to Term?"
The use case is I want to append nodes to a term only if they are not isomorphic (RDF::Isomorphic) with an existing node.  The `<<` append method in Term uses set union on two Arrays, which relies on `eql?` and `hash` for comparison.  It would be convenient if the method filtered out values using `include?`, which uses `==` for comparison, and so is more safely overridden in a Resource class (I th

[2014-08-22 16:29] #39 closed, assigned to nobody

[2014-08-22 16:44] #36 closed, assigned to nobody

[2014-08-26 12:22] elrayle opened #43 "Wrong class instance set for class_name gets saved and displayed inconsistently"
### To reproduce with a fresh new object...

Set up the classes to use in this example.

[code]

Create object instances to demonstrate how it works with the wrong class.

[code]

Get the value of owner using several methods.

[code]

NOTE:
- When the class_name of the object instance does not match that of the specified class_name, its value is hidden when accessing the value directly or through

[2014-09-04 16:42] tpendragon opened #44 "Throw Exception when trying to use .property with reserved keywords"
We had a team member that tried to define a property named repository on a resource and the world exploded.

[2014-09-30 15:50] jeremyf opened #53 "Should ActiveTriples::Resource#fetch take a block for default?"
Based on a comment in Hydra Connect 2014 at Case Western, should `ActiveTriples::Resource#fetch` take a block that evaluates as the default object if the load were to fail?

This would be analogous to Ruby's behavior for `Hash#fetch`.

[2014-10-10 16:28] jcoyne opened #55 "Need a way to get a URI back"
I don't want a resource in this case, just the URI.

[code]

[2014-10-10 16:45] tpendragon opened #56 "Term shouldn't have a public #rdf_subject"
This is just us providing a conflicting API. We should probably just make this method private.

[code]

[2014-10-13 17:56] jcoyne opened #60 "Ruby Time is not an http://www.w3.org/2001/XMLSchema#time"
The ruby Time class has date and time components.

[code]
But when you serialize to activeTriples, it makes this statement:
[code]

Which loses the Date component.

[2014-10-15 00:29] #55 closed, assigned to nobody

[2014-10-15 01:31] no-reply opened #63 "Passing Terms to set_value causes unexpected behavior"
@elrayle said on #46:

The gist is: https://gist.github.com/elrayle/50d14ba381553107e618

[2014-10-16 15:23] #56 closed, assigned to nobody

[2014-10-16 15:25] #63 closed, assigned to no-reply

[2014-10-21 16:23] #20 closed, assigned to no-reply

[2014-10-21 16:25] #23 closed, assigned to no-reply

[2014-10-24 15:54] #44 closed, assigned to nobody

[2014-10-24 17:42] no-reply opened #65 "Generate JSON-LD Context Based on Property Names"
There is already a capability to a default context to `#dump :jsonld` by having `#jsonld_context` return it.  A default method (or maybe a mixin?) that generates a context (& framing doc?) from property definitions would be valuable.

[2014-11-03 15:10] jcoyne opened #66 "Don't allow property to be called on AT::Resource itself"
It should only be called on subclasses.  The error condition was being entered in ActiveFedora, and an error would have helped us find it earlier.

I'm suggesting something like this:
[code]

[2014-11-06 22:27] jcoyne opened #67 "ActiveTriples::Identifiable builds accessor methods on the resource"
It should build the accessors on the class that includes Identifiable

[2014-11-11 20:48] tpendragon opened #69 "Be able to query for a specific language tag on string literals"
Three ways to fix this - either always return RDF.Literal, make a configuration option so that it returns RDF.literals, or add an option to get_values which will filter on language.

[2014-11-12 19:41] #69 closed, assigned to nobody

[2014-11-13 20:44] #67 closed, assigned to nobody

[2014-12-06 02:39] jcoyne opened #74 "Delegating array methods to result doesn't make sense if it's multivalued"
https://github.com/ActiveTriples/ActiveTriples/blob/711626ccd4bd9a31c2ef19bf4d7a7b2a006d58f1/lib/active_triples/term.rb#L9-Lundefined

because the `resource` method is already returning the first Term.  Perhaps Resource#get_term should handle returning the first item for non multivalued fields instead.

[2015-01-06 15:23] jcoyne opened #82 "Should we remove the Indexing module?"
It's still defining the ActiveFedora module. https://github.com/ActiveTriples/ActiveTriples/blob/16bb42b7e02637e8b387a184f51a57cfd4f90ed1/lib/active_triples/indexing.rb

[2015-01-06 15:24] no-reply commented on #82
Yes.

[2015-01-06 15:29] terrellt commented on #82
+1

[2015-01-06 17:41] no-reply commented on #82
Closed by #83

[2015-01-06 17:41] #82 closed

[2015-01-06 20:04] terrellt opened #87 "Revert Reload on #new"
So in using ActiveTriples::Resources as "Almost ActiveRecord" objects, the only big difference I found was that because they reload on #new, there's no such thing as a record with a URI in the database that's not persisted, which makes things like #new forms difficult.

We ended up writing https://github.com/OregonDigital/ControlledVocabularyManager/blob/feature/ActiveTermWrapper/lib/active_triple

[2015-01-06 20:20] no-reply commented on #87
I'm in favor of changing this and targeting it at the 1.0 release.

[2015-01-12 17:37] jcoyne opened #89 "Allow setting to an empty array"
[code]

[2015-01-12 17:42] no-reply commented on #89
What did you run to get this result?

`subject.title = []` is okay.  `subject.set_value(:title, [])` likewise.  I believe both are tested.

[2015-01-12 17:50] jcoyne commented on #89
Yes, it was actually a `Nokogiri::XML::NodeSet` object that triggers this.

[2015-01-12 17:50] #89 closed

[2015-01-12 17:51] no-reply commented on #89
That would do it!

[2015-01-13 04:32] jcoyne opened #90 "Term#build should add a new node, not replace the existing node."
[code]

I'd expect a size of 2 here.

[2015-01-13 04:39] jcoyne opened #91 "Term#build should respect symbol or string keys"
These two statements should be equivalent:
[code]

[2015-01-13 04:43] jcoyne commented on #90
Currently we need to work around by doing something like this:
[code]

[2015-01-13 17:05] dchandekstark opened #92 "Time for version 1.0?"
Given the reliance of ActiveFedora and Hydra on AT, I think it would be beneficial to begin using major versions to signal backwards incompatible changes.

[2015-01-13 17:16] no-reply commented on #92
We have an ongoing commitment to backwards compatibility on pre-1.0 minor versions for exactly this reason.

There are some fairly major changes we have slated for 1.0 (see: https://github.com/ActiveTriples/ActiveTriples/milestones/1.0), and I would really like to see at least the property->predicate issue resolved before a 1.0 release.

My hope had been to start work on this around now, but it lo

[2015-01-13 17:34] dchandekstark commented on #92
I confess to being confused about about the combined changes in AF and AT which pushed us to AF8.  It does appear that aspects of the public API have changed since AT 0.2.3 which break backward compatibility.  No argument since it's 0.x, but thought it was worth raising the question.

[2015-01-13 17:39] no-reply commented on #92
Yeah, it *is* changing rapidly, which is one reason I'm reluctant to move to 1.0.  I think we would likely be on 3.x or 4.x very quickly.  The minor versions have been studiously bumped for breaking changes since before Hydra Connect, and we're currently on 0.5.0.

What I would really like to do is make a directed push to 1.0, and document it well.

[2015-01-13 17:51] dchandekstark commented on #33
:+1: I'd like to see this too - maybe can help at some point ...

[2015-01-13 17:51] dchandekstark commented on #92
Yeah, I get it.  Thanks for the (no-)replies. :)  I'll close the issue.

[2015-01-13 17:51] #92 closed

[2015-01-13 17:53] no-reply commented on #92
And thank you for raising it.  It's a good reminder that this push needs to be high on my priority list.

[2015-01-13 19:36] #33 closed

[2015-02-17 17:15] no-reply opened #100 "Entities/Resources should be RDF::Resources"
[code]

This should be `true`, and `ActiveTriples::Resource` should mixin `RDF::Resource` along with (instead of?) `RDF::Value`.

[2015-02-19 22:27] jcoyne opened #101 "Don't allow a property called "next" to be created"
next is a keyword so when you attempt to call it you'll get:
[code]

[2015-02-19 22:53] no-reply commented on #101
Can't reproduce:

[code]

Can you clarify?

We're excluding methods defined on the class from property definition; do we need to exclude other classes of names? See:

https://github.com/ActiveTriples/ActiveTriples/blob/master/lib/active_triples/configurable.rb#L62

[2015-02-19 23:10] no-reply commented on #101
oh, just realizing how interesting that output is... opening a couple of other issues based on this...

But here's a more correct try:

[code]

[2015-02-19 23:14] no-reply opened #102 "Validate property definitions before creating accessors"
Property definition currently allows defining properties with no predicate.  The behavior is strange:

[code]

[2015-02-20 04:26] jcoyne commented on #101
[code]

[2015-02-20 04:27] jcoyne commented on #101
It does work fine if you use `self.next`, so maybe this isn't an issue?

[2015-02-20 04:31] #66 closed

[2015-02-20 04:32] #102 closed

[2015-02-20 05:14] no-reply commented on #101
Ah, got it.

You should also be able to do `get_values(:next)`. I'm definitely in favor of continuing to allow it.  We use `#begin` and `#end` in some classes at DPLA.

[2015-02-20 05:14] #101 closed

[2015-02-24 19:47] terrellt opened #106 "Should #repository be public?"
I've run into this a few times - trying to get an object's repository. Is it private for a reason?

[2015-02-27 20:40] anarchivist opened #107 "Calling `#set_subject!` on a resource that is the object of another resource doesn't propagate properly"
[code]

[2015-02-27 21:13] jcoyne opened #108 "AT::Resource#fetch should give a better error"
Currently you'll get:
[code]

[2015-02-27 21:17] no-reply commented on #108
per discussion in #projecthydra:

1:14 PM jcoyne> seems like AT shouldn't have to handle this.
1:14 PM tjohnson> i don't think it's a bug at all
1:14 PM tjohnson> you call fetch on a thing that's not fetchable, you should get an error, right?
1:14 PM tjohnson> but we're not giving useful info about that
1:14 PM jcoyne> yea, but a better error than that.
1:14 PM tjohnson> :+1:

[2015-03-04 04:35] jcoyne opened #109 "calling Term#as_json causes a slow query."
This query is run:
[code]

[code]

[2015-03-04 04:41] jcoyne commented on #109
Moving this to rdf-marmotta

[2015-03-04 15:16] no-reply commented on #109
This is an issue with a particular `RDF::Repository` implementation.  Any queries are run at a lower level of abstraction that `ActiveTriples`.  Closing this.

[2015-03-04 15:16] #109 closed

[2015-03-04 15:18] no-reply commented on #106
I'm working on abstracting `repository` out to swappable persistence strategies.  I think I will make it public on the strategy instance; but this will likely not be a method on `Resource`/`RDFSource` going forward.

[2015-03-05 18:24] jcoyne opened #110 "Initialize without a URI causes a reload"
[code]

Caused by calling `new` on a ActiveTriples::Resource. This is a problem if you use a repostitory because it ends up creating a query like: `CONSTRUCT { _:g70352850510440 ?p ?o . } WHERE { _:g70352850510440 ?p ?o . }`

[2015-03-05 19:15] jcoyne commented on #110
Closed. Same as #87

[2015-03-05 20:05] #110 closed

[2015-03-05 23:36] elrayle commented on #106
Hey Tom,

Can you expand on what you are thinking about here?  What other persistence strategies are you looking to support?  I have been pondering how to get the ontology gems to be capable of writing to a triples store (current implementation) and/or capable of persisting to Fedora, depending on what repository is currently being used.  I have no more details because I haven't pursued this beyon

[2015-03-05 23:46] no-reply commented on #106
@elrayle I'm absolutely considering an `LDPStrategy` and a `RepositoryProjectionStrategy` that avoids the need to call `persist!`.

Mostly that work is an attempt to get objects that are responsible for persistence, specifically, so we can think better about how they act.  Currently, persistence is a little too much entwined with the rest of `Resource` to do any major work on it--so my main goal i

[2015-03-05 23:49] elrayle commented on #106
RE: avoid the need to call persist!, are you looking at every change automatically being persisted at the point the change occurs?

From: Thomas Johnson <notifications@github.com<mailto:notifications@github.com>>
Reply-To: ActiveTriples/ActiveTriples <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, March 5, 2015 at 6:46 PM
To: ActiveTriples/ActiveTriples <ActiveTriples@norep

[2015-03-05 23:51] no-reply commented on #106
Yes. That strategy would just be a `Graph` backed by a `Repository` in the way allowed by `RDF::Graph`.

[2015-03-06 00:44] no-reply commented on #27
ping @jcoyne.

If this isn't still a live issue. I'd like to close it.  Otherwise, I think I need more info.

[2015-03-26 16:24] mjsuhonos opened #117 "Resource-centric vs graph-centric in persistence/querying"
Currently, ActiveTriples::Resource can accept an arbitrary RDF::Graph, including statements with a different (potentially completely unrelated) RDF subject.  Additionally, persistence is achieved through the `#persist!`, `#destroy` and `#reload` methods.  Together these seem to take a graph-centric view of how ActiveTriples should behave, but this seems disjoint with the resource/model-centric beh

[2015-03-26 16:31] no-reply opened #118 "Create GETTING_STARTED.md File"
It would be useful to write/maintain a Getting Started file, giving an overview of `ActiveTriples` and how to work with its various pieces.

[2015-03-26 17:10] mjsuhonos commented on #118
:+1:, especially for those coming from other ActiveModel frameworks who may not necessarily be familiar with RDF (notably rdf.rb) constructs.

[2015-03-26 17:30] no-reply commented on #117
:+1: Resolving this tension between the Object model and the underlying Graphs seems like the most important work there is to do here.

In my own mind, I'm starting to understand what we're working with as "RDF Sources", as described here: http://www.w3.org/TR/2014/REC-rdf11-concepts-20140225/#change-over-time.  That shift is reflected in #115.

I think a move to a more common persistence interfac

[2015-03-26 17:33] no-reply commented on #117
@jeremyf I'd appreciate any input on the relative value of `Active` as it relates to the interface defined here: http://mongoid.org/en/mongoid/docs/persistence.html

[2015-04-01 20:35] dchandekstark commented on #14
I am using Hydra::Validations -- at least to deal with validating lists of literals.

[2015-04-01 20:40] dchandekstark commented on #41
A good start would be to document in spec tests what methods we really expect it to delegate to :result.

[2015-04-01 20:42] dchandekstark commented on #41
Cf. #74

[2015-04-01 20:46] dchandekstark commented on #117
FWIW, This also clearly relates to recent conversations about query patterns (graph vs. filter).  :+1: @no-reply @mjsuhonos on pushing forward to a resolution/clarification.

[2015-04-06 18:47] mjsuhonos commented on #117
Most of the more abstract/common persistence methods are already essentially delegated to the given persistence strategy, which perhaps we could move outward to the Persistable interface instead.

- `#destroy`
- `#persisted?`
- `#reload` -> delegated but initializes @term_cache

The following **NEW** delegated methods would also be added:
- `#delete`
- `#destroyed?`
- `#touch`
- `#save`
- `#save!`

[2015-04-06 19:55] jeremyf commented on #117
@mjsuhonos I like your well articulated questions and responses. I do have a clarification to make.

`ActiveModel` has a [linter](http://api.rubyonrails.org/classes/ActiveModel/Lint/Tests.html#method-i-test_errors_aref) to validate the behavior of an `ActiveModel` compliant object.

* test_errors_aref
* test_model_naming
* test_persisted?
* test_to_key
* test_to_param
* test_to_partial_path

That

[2015-04-06 21:08] mjsuhonos commented on #117
Thanks @jeremyf -- That's a really useful way to understand how AM approaches interoperability.

Unless I'm mistaken, I believe this is the role of each PersistenceStrategy implementation; in the case of eg. Mongoid, the "mapping" is basically what I've done in Ladder with `#update_resource` and `#new_from_graph` (both of which are admittedly rather unwieldy).

The "job" of a PersistenceStrategy t

[2015-04-08 15:43] dchandekstark opened #119 "Should an IRI be marshalled as a Resource?"
(FWIW I'm using AT 0.2.3)

When AT marshals a graph as a Resource, it treats an IRI which is the object of a statement in the graph also as a Resource.  I find this awkward because one is required to call `rdf_subject` on the resource to get the `RDF::URI`.

Example:

[code]

[code]

This is not a blocker and I'm open to being instructed as to why it's done this way. :)  Just wondering ...

[2015-04-08 15:53] terrellt commented on #119
@dchandekstark I'm not sure what version this got implemented in, but there's https://github.com/ActiveTriples/ActiveTriples/blob/master/spec/active_triples/resource_spec.rb#L537 if you don't want to cast to a resource.

[2015-04-08 15:59] no-reply commented on #119
I think the answer to this is simply "yes"--that's the RDF model and, as a design goal, the fundamental utility of `ActiveTriples`.  An IRI denotes a Resource and the idea is to have access to relevant statements for that resource via the models.  Returning a URI sends you back to querying blindly.

As @terrellt notes, you can choose not to cast as an option on a given property.  That's a bit of a

[2015-04-08 16:05] no-reply commented on #119
@dchandekstark it's also worth noting that the range of `premis:hasIdentifierValue` is `xsd:string`, so you probably just want to use literal values instead of IRIs, anyhow.

See: http://id.loc.gov/ontologies/premis.html#hasIdentifierValue

[2015-04-08 21:27] dchandekstark commented on #119
@terrellt @no-reply Re: `premis:hasIdentifierValue` I'm aware of that, yes.  And I understand in the RDF model that an IRI is a resource.  But a literal is also a resource, so I'm not exactly sure why an IRI would be treated differently here.  In any case, it feels unexpected for a property getter to return an RDF graph (i.e., AT::Resource) when the object of the statement is an IRI and not a node

[2015-04-08 22:35] no-reply commented on #119
I get where you're coming from, but there's really no way to distinguish between an IRI that can have properties, etc... and one that cannot, except to define it as an access pattern--which you can do, though I don't recommend it.

The problem that you're having is that the data you're storing and accessing has a different meaning than what you're trying to do with it.

`_:myObject dce:identifier

[2015-04-08 23:03] dchandekstark commented on #119
OK, thanks @no-reply for bearing with me on this.  The practical issue regards using vocabulary terms.  In this specific case, referencing the AT::Resource class above, I am using the predicate `premis:hasIdentifierType` in a statement where the object is the vocabulary term having the URI `http://id.loc.gov/vocabulary/identifiers/local`.  So, the N-Triples serialization of an example Identifier r

[2015-04-08 23:45] no-reply commented on #119
Okay, that's helpful!

One of the design goals of `ActiveTriples` was to allow you to have free-flowing models for data from external sources. So following from your example:

[code]

You can also use the generic `#set_value` and `#get_value`, or otherwise safely treat it as any other IRI/bnode in your data--modeled or not.  So, it's modeled as a `Resource` (transitioning to `RDFSource`) because,

[2015-04-09 01:27] dchandekstark commented on #119
Thanks, @no-reply for entertaining my questions.  I see now about `premis:hasIdentifierType`, which has range `xsd:string`.  It's obviously not germane to this issue -- which can be closed if you like -- but are you thinking I should be using the literal "http://id.loc.gov/vocabulary/identifiers/local" or perhaps just "local"?  If so, I've clearly missed something by not RTFM. :)

[2015-04-09 23:33] #119 closed

[2015-04-17 05:16] dchandekstark opened #120 "Term needs more tests to document expected behavior, especially when value is a Resource"
Some methods of Term (at least in v0.2.3), such as #empty_property and #set do not appear to work properly when a Term value is a Resource.  For example, #empty_property only removes the statements having the term predicate rather than the values of the terms (the resources).  However, since neither the code not spec tests document the expected behavior I can't be sure this is bug.

[2015-04-17 05:18] no-reply commented on #120
Can you post some examples of the behavior you aren't expecting? I'll try to take a look over the weekend.

[2015-04-17 05:25] dchandekstark commented on #120
Here's a basic one, with an ActiveFedora 7 NtriplesRDFDatastream.  `<http://repository.lib.duke.edu/vocab/roles/hasRole>` is the predicate of the Term in this case, and you can see one resource (RDF type `<http://repository.lib.duke.edu/vocab/roles/Role>`).

[code]

After calling `empty_property` on the Term, only the statement with the Term predicate is removed, which is not of course what I want

[2015-04-20 20:13] no-reply commented on #117
The latest work on feature/persistence-strategies (c738602) means I'm finally ready to tackle this question properly.

This is the issue I'm trying to address with the `RDFSource` concept.  Where "surrounding statements" was vague, I think with `RDFSource`, we can clarify:
  - An `RDFSource` models "a resource that may be said to have a state that can change over time". (http://www.w3.org/TR/2014/

[2015-04-20 20:42] terrellt commented on #117
So if I'm understanding right, an ActiveTriples::Resource is an object representation of a graph, a persistence strategy takes that representation's underlying graph and persists it in some way to a Dataset which is the thing that actually handles storing the graph in a persistent way?

So when are we renaming to DataMapperTriples?

[2015-04-20 20:52] jeremyf commented on #117
DataMapperTriples :+1:

<Begin Soap Box>
Because the ActiveRecord pattern is something I don't believe holds water for long-term data needs.

[2015-04-20 20:58] no-reply commented on #117
...soon?

In case that was a serious question: in my understanding of the Active Record pattern, this still conforms. RDFSource still provides a persistence & properties interface.

[2015-04-20 21:31] terrellt commented on #117
Earlier comment was somewhat tongue in cheek, apologies. =)

If my earlier understanding fits, then I'm :+1: to using that to refactor our strategy going forward. Regarding DataMapper/ActiveX, if we're smart about it I think the "Active" can be a layer 6 on layer 5 of mapping components.

[2015-04-20 21:49] terrellt commented on #117
@no-reply So a question - is an RDFSource's resource typified by a single subject? Because we make that assumption, and I wonder if it's accurate

[2015-04-20 21:59] dchandekstark commented on #117
@terrellt Can you expand b/c I wonder if that's a source of pain for me.

[2015-04-20 22:12] terrellt commented on #117
@dchandekstark ...Maybe? ActiveTriples' `ActiveTriples::Resource` is basically a set of accessors on top of a graph which act on triples that are in the graph and have the subject it was initialized with. The documentation SOUNDS like that's the case - in that an RDFSource is for a Resource and a Resource is represented by an IRI (subject here.)

AT just kind of accepts graphs that have other subj

[2015-04-20 22:24] no-reply commented on #117
@terrellt: It sounds like you're suggesting that `ActiveTriples` should take the approach adopted by Fedora 4, and reject triples added to an RDFSource that don't have a shared subject.  I've discussed this at length on the Fedora Tech list:

https://groups.google.com/forum/#!topic/fedora-tech/TzHBaqNVJpo
https://groups.google.com/forum/#!topic/fedora-tech/LBnvq7Z8ZuE (this is an extreme specimen

[2015-04-20 23:08] terrellt commented on #117
@no-reply Not really suggesting, just wondering what an accurate model of an RDFSource is. Managing the state seems like a reasonable use case.

[2015-04-21 00:28] no-reply commented on #117
Gotcha. As the linked Fedora-tech threads show, this is something of a contentious issue.  The above is my current understanding & I'm hoping to talk it out a bit with folks during the LDP workshop tomorrow.

Either way, I think there's some more clarification necessary, beyond what has gone into #115 and is discussed here.  In practice `ParentStrategy` (which mocks current behavior for non-Reposi

[2015-04-21 01:01] no-reply commented on #100
Starting work on this with #115 as a base. I'm expecting that we'll need to figure out some equality issues to get this done right.

[2015-04-21 03:05] dchandekstark commented on #117
@no-reply A useful supplement to this conversation would be additional examples in the test suite and in documentation.  My main issue in general is understanding at a concrete level how the software is expected to behave, and I have found the use of nested resources in particular to be frustrating via Term accessors (cf. #41, #42, and #120).

[2015-04-21 04:52] no-reply commented on #117
@dchandekstark heard. `Term` (soon to be renamed) is absolutely under-documented, and some of the problems at play are worse than that.  I'm hopeful that we can get momentum to clean some of this up--and doing what I can.  Your efforts to document specifics are appreciated.

[2015-04-23 00:35] no-reply opened #121 "RDF Source Equality"
Given the model for `RDFSource` outlined [here](https://github.com/ActiveTriples/ActiveTriples/issues/117#issuecomment-94557079), I have some questions about the best way to handle equality and comparison.  It seems to me that (beyond the static `equal?` Object identity comparison) we have three concepts of equality to contend with:
  - `RDF::Resource` identity
     - If one `RDFSource` has a URI,

[2015-04-23 00:49] gkellogg commented on #121
This is similar to the notions of equality in RDF.rb for properly matching SPARQL semantics, and it mostly has to do with what you do with BNodes. The RDF::Node#eql? likely does what you want for this case, as does Node#==.

[2015-04-23 00:50] jeremyf commented on #121
Pinging @dbrower

[2015-04-23 01:37] no-reply commented on #121
Thanks @gkellogg. `Node#==` seems to do what I'm suggesting for the `#==` case, but I think I'm missing something about how it relates to the underlying `Graph`.

Pinging also @mjsuhonos, though I know he's busy with other things.

[2015-04-23 05:49] gkellogg commented on #121
I'm not sure how useful graph equality is beyond if they're either the same graph or are isomorphic. Different graphs with same triples isn't generically useful; you need isomorphism.

[2015-04-23 14:57] dbrower commented on #121
The isomorphism is what I would expect for equality. Yes, I see that it can be expensive to do. How often are graphs compared for equality?

[2015-04-24 16:12] no-reply commented on #121
@dbrower in this case, it depends on how frequently we care whether object state has changed. Since the in-memory graph (plus the `#rdf_subject` URI, if any) is understood to be the canonical representation of the in-memory object, comparisons with other graphs could be frequent.

I think these comments have me thinking that isomorphism should be the default graph comparison. `RDFSource` associate

[2015-04-26 18:46] mjsuhonos commented on #121
I'm inclined to broadly agree with everything that's been said so far.  Some of the nuances between RDF::Graph equality and isomorphism are a bit beyond me, but from a persistence perspective (myself thinking on #117), I would expect isomorphism via `#eql?` to be the default, and state-level equality comparisons additional functionality, possible even `PersistenceStrategy`-dependent.

[2015-04-27 18:48] terrellt commented on #120
@dchandekstark @no-reply I'm interested in tightening up the piblic API for what is now Relation.
Right now there's
[code]

And then it delegates Array instance methods to #result (which is a fairly large API in and of itself.)

I see
[code]
as necessary

[2015-05-05 15:57] jcoyne opened #122 "define `type` as a property"
`klass.properties.keys.include?('type')` should return true.  It's understandable if it doesn't have a setter, but a getter would be nice.

[2015-05-05 17:27] jcoyne commented on #122
Looks like RDFSource does have accessors, so lets just say  it should be a registered property.

[2015-05-05 17:31] no-reply commented on #122
:+1:

[2015-05-05 17:32] jcoyne opened #123 "Set configured type if it's not present"
https://github.com/ActiveTriples/ActiveTriples/blob/a5a52bdb37c6ce519571ab2660f3ffb7d3edbb9d/lib/active_triples/rdf_source.rb#L111

Can we change `type.empty?` to `!type.include?(self.class.type)`?

[2015-05-05 17:54] terrellt commented on #122
I tried to use the property setter at one point and the world fell apart, but yes, :+1:

[2015-05-05 23:26] no-reply commented on #123
Yes, I think that's slightly better.  That simple change doesn't break any tests.  If someone (you?) submits a PR that includes a regression test for it, I'd be :+1: to merge immediately.

[2015-05-12 16:58] terrellt opened #125 "Enable Multiple Types"
What do we see as the API for this? Multiple type configurations?
[code]

[2015-05-12 17:00] jcoyne commented on #125
That looks reasonable to me

[2015-05-12 17:03] no-reply commented on #125
The problem with multiple types is that the (ruby) Class of the resource is tied to type--and not in a terribly clear or well documented way.  I think we need to resolve this before (or in the process of) making changes to current type configuration.

[2015-05-12 17:09] terrellt commented on #125
@no-reply That's true. Can we add this functionality without breaking current behavior, via casting on the first defined type? PCDM is currently blocked here, and I want to explore options.

[2015-05-12 17:14] no-reply commented on #125
:+1: if you can get something working that either doesn't alter existing behavior or improves clarity, I'm in favor.  Just use care; here be dragons.

[2015-05-12 17:15] terrellt commented on #125
:+1: Will do. Pretty sure I spawned some of those dragons, so it's my burden to bear.

[2015-05-12 21:58] jcoyne opened #127 "Can Configuration::Reflection and NodeConfig be merged?"
I'm not totally sure they can, but it seems like we may have established two parallel pathways to configure AT.

[2015-05-12 22:02] jcoyne commented on #127
I think it's just the name Reflection that I'm caught up on. @terrellt what do you think of renaming `Configuration::Reflection` to `Configuration::Item`

[2015-05-12 22:02] no-reply commented on #127
This may be a good line to pursue. I've been wanting to rip up `NodeConfig` for a while, since it  has some AF baggage that's unnecessary here (e.g. indexing).

[2015-05-12 22:03] terrellt commented on #127
@jcoyne Renaming seems reasonable.

[2015-05-12 22:04] jcoyne commented on #127
@no-reply AF has its own subclass of NodeConfig, so we should be able to move that  out of AT and into AF

[2015-05-12 22:06] terrellt commented on #127
I like the idea of a property configuration similar to https://github.com/OregonDigital/oregondigital_2/blob/69f55378f0406ec1da7862f8e7f7eb404797e45d/app/models/data_model.rb, but I'm biased.

[2015-05-12 22:14] no-reply commented on #127
I'm not picky about the name. `Item` seems fine.  `Reflection` is maybe confusing, since it's used elsewhere in the codebase for a related but different(?) pattern.

Make it happen, pal.

[2015-05-12 22:38] terrellt commented on #127
It'll happen. One day.

[2015-05-12 22:38] terrellt commented on #127
(That day will probably be the next OD2 sprint)

[2015-05-12 22:59] jcoyne commented on #127
As far as I'm concerned this ticket is closed, anyone else have reason to keep it open?

[2015-05-12 23:53] no-reply commented on #127
nope. good talk.

[2015-05-12 23:53] #127 closed

[2015-05-13 20:05] #125 closed

[2015-05-13 20:08] no-reply commented on #125
This was closed by #126 #128 #129 & #130.

Thanks for keeping it simple @terrellt! :P

[2015-05-20 12:07] elrayle commented on #117
@mjsuhonos Can you provide a one line description of each of the methods that you list?  This will help ensure that we are all interpreting these the same way.  As an example, I'll put in the first one.

#destroy - permanently delete rdf source from triple store and return deleted rdf source in an AT:Resource
#persisted?
#reload -> delegated but initializes @term_cache
The following NEW delegated

[2015-05-20 15:50] elrayle opened #131 "partial uri for subclass of a resource does not generate full uri"
See new test at the bottom of [resource_spec.rb](https://github.com/ActiveTriples/ActiveTriples/blob/bug_get_uri_fail_subresource/spec/active_triples/resource_spec.rb) that describes "sub classing resource".  DummyPrimaryResource which inherits directly from ActiveTriples::Resource passes.  DummySubResource which inherits from DummyPrimaryResource fails.

This is a change in behavior from 0.6 and

[2015-05-20 15:52] elrayle commented on #131
@terrellt What was the need for changing base_uri?

What you will see when the test fails is that base_uri = nil in method get_uri (in resource.rb) for the sub classing resource.

[2015-05-20 17:01] elrayle commented on #131
Added test that shows that a subclass that overrides configuration works.

[2015-05-20 17:47] elrayle commented on #131
Clarification, method base_uri returns nil at 0.6 and 0.7.  To stop the error at 0.7, base_uri has to return nil and the configure method has to be reverted to 0.6.  I am continuing to explore configuration.rb and configure method.

[2015-05-20 19:27] no-reply commented on #131
@elrayle Configuration was significantly rewritten in 0.7.0, in part to allow configuration of multiple types.  I suppose it makes sense that configuration inheritance would have worked in previous versions, but I can't say that was ever considered a feature.

I'd suggest we begin by documenting which, if any, configuration properties *should* be inheritable.  Rather than reverting to the older ap

[2015-05-26 22:51] elrayle commented on #131
The [open annotation gem](https://github.com/ld4l/open_annotation_rdf) uses inheritance for rdf type and is broken by the move to 0.7.  I appreciate the addition of multiple type (thanks terrellt) and what it allowed us to do for pcdm.  I am hoping that in the absense of a type configuration that a class would continue to inherit it from the parent class.  I think this will be useful as we expand

[2015-06-05 17:51] tpendragon opened #135 "Look into callback behavior and Persist! method."
Right now `Persist!` has code that sets @persisting = true before and after calling callbacks, so that it won't try to re-persist if a callback runs it. This is probably not the right way to handle things.

[2015-06-05 18:34] no-reply commented on #121
This is resolved in #133 with a simplified "Term equality" approach at: https://github.com/ActiveTriples/ActiveTriples/pull/133/files#diff-e9939ce86c000df5686160af00e0c53fR122

[2015-06-05 18:38] no-reply commented on #131
:+1:

I think #132 should help us nail down a more general approach to inheritance.  For now, I think we should aim to inherit property configuration ("Schema") and type.  If we can document and test those two, patching as necessary, that would be a step forward.

I'm marking this `help wanted`, and will assign it to myself if/when I can pick it up.  @elrayle if you (or anyone else) wants to pick

[2015-06-05 18:44] no-reply commented on #123
I think this is resolved in light of https://github.com/ActiveTriples/ActiveTriples/blob/develop/lib/active_triples/rdf_source.rb#L111-L115

If that's wrong, please reopen.

[2015-06-05 18:44] #123 closed

[2015-06-05 18:46] no-reply commented on #106
The aforementioned `PersistenceStrategy` changes are going in via #133.  I think that closes this issue, since `RDFSource` and `Resource` no longer have a `repository` directly.  The repository object is accessible via the resource's `RepositoryStrategy` when it is used.

[2015-06-05 18:46] #106 closed

[2015-06-05 18:58] no-reply commented on #10
Broadly speaking, this is fixed in the `RDFSource` refactor, and since.  The main remaining gap is `Relation` (formerly `Term`).  This issue is covered by #120.

[2015-06-05 18:58] #10 closed

[2015-06-05 19:01] no-reply commented on #3
README.md has had a pretty good documentation for some time now.  #118 calls out the need for a more comprehensive set of `GETTING_STARTED` docs that help explain the core concepts and more advanced usage.

[2015-06-05 19:01] #3 closed

[2015-06-05 19:06] no-reply commented on #100
This is *mostly* resolved in #133, but I'm leaving it open because `Resource` is still not directly included and there's some sanity checking to do on the interface.

It's notable that there are no shared examples in `ruby-rdf/rdf-spec` for `RDF::Term` or `RDF::Resource`. Maybe the best next step is to add those and make sure that `RDFSource` handles compliance.

[2015-06-05 19:07] #121 closed

[2015-06-05 19:10] no-reply commented on #41
This is closely related to the work needed to handle #120.  @terrellt, if you still plan to undertake that, can you make sure this issue gets considered?

[2015-06-05 19:10] #27 closed

[2015-06-05 20:18] no-reply commented on #14
The initial thinking behind this ticket was to create some core ActiveModel validations that apply to RDF.  At this point, with the SHACL work being carried on by the RDF Shapes WG, I think it's safe to close this.  When that is solid enough for a ruby-rdf implementation, we can add a validator that consumes shapes and applies them to `RDFSource` graphs.

cc: @chrpr

[2015-06-05 20:18] #14 closed

[2015-06-05 20:55] no-reply commented on #38
The culprit here seems to be `Relation#empty_property` which seems to roundly ignore the values in the example:

https://github.com/ActiveTriples/ActiveTriples/blob/develop/lib/active_triples/relation.rb#L58-L64

[2015-06-05 22:52] no-reply commented on #118
I have a really barebones start on this here:

https://github.com/ActiveTriples/ActiveTriples/tree/feature/getting-started

[2015-06-06 21:25] no-reply opened #139 "Evaluate the status of `Identifiable`"
`Identifiable` is a mixin that offers some of the `RDFSource` interface for other `ActiveModel` frameworks.  Given that `RDFSource` itself is now a mixin, we should consider whether there's a better approach and which, if any, parts of identifiable are still necessary.

We can close this ticket with full documentation for, and/or a refactoring of `Identifiable`.

[2015-06-07 03:56] mjsuhonos commented on #139
`Ladder::Resource` currently depends on `Identifiable`, primarily using `#resource` as a proxy method for accessing `RDF::Graph` functionality (eg. `#dump`).

I'd be keen to identify a better approach that allows mixing in `RDFSource` directly, if possible.

[2015-06-07 21:08] no-reply commented on #42
I'm looking now at the viability of using the new `rdf-normalize`to better (and cheaply) handle isomorphism on `set` and `delete`. I'll report back with some examples of how things work under that regime, and hopefully some benchmarks so we can decide whether that approach will work as a default handling.

[2015-06-08 16:49] no-reply opened #140 "Remove Dependency on List from Relation"
Relation calls List directly at https://github.com/ActiveTriples/ActiveTriples/blob/develop/lib/active_triples/relation.rb#L72.

Since List is falling into disuse and has some major downsides, we should avoid this hard dependency with the idea that we can extract support for lists as `RDFSource`s into an extension.

[2015-06-08 18:39] no-reply commented on #38
Reopening per #142

[2015-06-08 19:21] elrayle commented on #131
I may be able to look at this next week.  I have my head down in solr right now.  So timing depends on how well this week goes.

[2015-06-08 21:48] tpendragon opened #143 "Sub-resources are persisted to parent no matter what."
The culprit is: https://github.com/ActiveTriples/ActiveTriples/blob/develop/lib/active_triples/relation.rb#L148-L151

The regression appeared here: https://github.com/ActiveTriples/ActiveTriples/commit/36be0dece87ee9f47bea3ad2499e18deb36622f6#diff-8f61654568db5b5ce50e047c8c58913cR153

Before it would only persist if that class was configured to persist to parent, now it persists always - since a p

[2015-06-08 22:02] terrellt commented on #143
This seems to be a problem with the persistence strategy not being a class-level concern. We can't ask how it's configured to be persisted, because it isn't configured.

[2015-06-08 22:37] no-reply commented on #143
I'd like to take a closer look at this before merging. I have the sense that there's a more thorough solution here, and had some ideas floating around when this work started.  It may just be time to figure this out properly.

[2015-06-08 22:39] terrellt commented on #143
Sounds good. We may want to consider yanking 0.8 and 0.8.1 in that case - deep RDF which persists to external repositories as individual nodes is totally broken this way.

[2015-06-08 23:14] terrellt commented on #143
@no-reply I'm tempted to not use "set_persistence_strategy" and make it unable to be changed after instantiation.

[2015-06-09 13:29] no-reply commented on #143
I'm not sure why you would want to do this. The way I was leaning is just for an instance to never change its own strategy. So a new instance built from a "parent's" graph gets `ParentStrategy` at initialization, but can easily be changed.

I think there may also be space for `#add_as_child_node` or something similar, which would clone the resource and persist it to parent. That would leave you tw

[2015-06-11 17:17] jcoyne opened #145 "regression in behavior of valid?"
With ActiveTriples 0.6 valid? was provided by ActiveModel::Validations, in 0.7 it's provided by RDF::Mixin::Enumerable

[2015-06-11 17:27] no-reply commented on #145
Can you provide some examples of behavior that has regressed?  I believe we've taken care to ensure that validations work in a way that's compatible with both `ActiveModel` and RDF.rb.

See, e.g.: https://github.com/ActiveTriples/ActiveTriples/commit/320861703b6ed7e8a744c7ab1ef54a840c816271

[2015-06-11 17:40] jcoyne commented on #145
If you run the test suite for https://github.com/no-reply/linked_vocabs with AT 0.7 you get:

[code]

It does pass with 0.8, but AF isn't compatible with that version yet.

[2015-06-14 18:36] mjsuhonos commented on #117
Jumping back in -- it looks like I may have struck a nerve with this issue.

Further to the last comment from @elraye, I'm going to abandon my earlier proposals about modifying the `Persistable` interface in any particular way, in favour of implementation-specific `PersistenceStrategies` as @no-reply describes.

I'm still struggling with how this would behave in concrete terms; eg. would `Persiste

[2015-06-16 21:16] elrayle opened #147 "reciprocal relationships hang when set"
See change to [resource_spec.rb](https://github.com/ActiveTriples/ActiveTriples/compare/reciprocal_relationships?diff=split&name=reciprocal_relationships) to add setting of a reciprocal relationship.  It hangs during the process of setting the reciprocal relationship.

[code]
A simpler version also hangs.
[code]

[2015-06-16 21:25] elrayle commented on #147
Added [new test](https://github.com/ActiveTriples/ActiveTriples/blob/f35e9b12147931783c0dc47b41c761330ea129bf/spec/single_tests/reciprocal_spec.rb) to just test this issue to make it easier to track down the problem.

[2015-06-16 21:34] elrayle commented on #147
I traced the problem to ActiveTriples::ParentStrategy#final_parent. The value of current alternates between document1 and person1 ending up in an infinite loop.

[2015-06-16 22:19] jcoyne commented on #147
ActiveFedora uses https://github.com/projecthydra/active_fedora/blob/master/lib/active_fedora/autosave_association.rb#L101 to work around this problem

[2015-06-16 23:25] elrayle commented on #147
I was thinking about doing something similar.  When there is a loop, what do you consider the final_parent... the one just before the original or the original itself?

if  A -> B -> C -> A
is C the final parent?  or is A?

[2015-06-17 14:46] elrayle commented on #147
I've been playing around with possible fixes including the following change to final_parent.  It doesn't work, as some of the statements are deleted and never re-inserted.

https://gist.github.com/elrayle/56cedbefe24ed5865719

@no-reply or @terrellt, can you provide an explanation of the philosophy behind [persist! (line 70)](https://github.com/ActiveTriples/ActiveTriples/blob/master/lib/active_tr

[2015-06-18 14:53] jcoyne opened #148 "When using parent strategy a new object should not be persisted if the parent isn't"
regression introduced in  710ebd5178aec9a88ad57ae1b77b4cd1db41f5ac

[2015-06-18 15:03] jcoyne opened #149 "Typos in test mocks"
https://github.com/ActiveTriples/ActiveTriples/blob/710ebd5178aec9a88ad57ae1b77b4cd1db41f5ac/spec/active_triples/persistence_strategies/parent_strategy_spec.rb#L44

https://github.com/ActiveTriples/ActiveTriples/blob/710ebd5178aec9a88ad57ae1b77b4cd1db41f5ac/spec/active_triples/persistence_strategies/parent_strategy_spec.rb#L50

Removing these lines doesn't affect the test passing, but I don't unde

[2015-06-18 15:33] jcoyne commented on #148
Duplicate of #143

[2015-06-18 17:45] jcoyne commented on #148
This seems to fix ActiveFedora https://travis-ci.org/projecthydra/active_fedora/builds/67405420

[2015-06-18 17:50] no-reply commented on #148
Interesting. I'm worried about that. I have the sense that more is broken and/or backwards-incompatible in the `ParentStrategy` than just this.

#150 looks like a good change, though.

[2015-06-18 22:37] #148 closed

[2015-06-24 14:25] elrayle commented on #147
From a conversation with Tom, I understand that ParentStrategy is not designed to handle the following  common patterns...  (NOTE: I am using generic predicate relatesTo for all examples.)

* A relatesTo B && B relatesTo A
* A relatesTo B && B relatesTo C && C relatesTo A
* A relatesTo B && A relatesTo C && B relatesTo C

There are three files under persistence_strategies:

* parent_strategy.rb
*

[2015-06-29 19:57] elrayle opened #153 "Design discussion for adding ability to generate a solr document from a resource"
This is a discussion of the design to add generation of solr documents to ActiveTriples.  The design works, but has room for improvement.  I am hoping to get feedback that will allow the design to move to a state that others are comfortable with this code becoming part of ActiveTriples.

# Current Implementation

## Solr Document Structure

Add the ability to generate a solr document from a resour

[2015-06-29 20:14] mjsuhonos commented on #153
:+1: for a active_triples-solrizer gem  to handle serializing/persisting ActiveTriples resources to solr

:-1: for moving it into ActiveTriples proper; I started down a similar path with ElasticSearch in https://github.com/ladder/active_triples-elasticsearch, and indexing requirements are IMO *far* too implementation-specific to require additional dependencies into the core gem.

[2015-07-01 13:29] elrayle commented on #153
@mjsuhonos,  thanks for the feedback.

My inclination from the start was to have a separate gem.  Here is the sticking point... in order to drive the solr property fields from configurations on the property definitions, changes were made to ActiveTriples [node_config.rb](https://github.com/elrayle/ActiveTriples/blob/v0.7.x_solr/lib/active_triples/node_config.rb) ([diff](https://github.com/elrayle/

[2015-07-01 13:39] jcoyne commented on #153
@elrayle ActiveFedora extends NodeConfig exactly as you need: https://github.com/projecthydra/active_fedora/blob/eb9bc665ed662f157368f56df57adf3b247193c4/lib/active_fedora/attributes/node_config.rb#L2

[2015-07-02 00:04] elrayle opened #154 "Issues with upgrades from 0.5 thru 0.8.1"
General observations:
* no issues related moving from release 0.5 to 0.6
* multiple issues moving to 0.7
* critical issue moving to 0.8 (reciprocal relationships hang in an infinite loop)

# Compatibility Tests

Compatibility tests have exposed changes in previously supported behaviors.  The changes have entered at different releases and are summarized here.

Test Location:  [spec/compatibility_te

[2015-07-02 04:31] no-reply commented on #154
Thanks @elrayle. I'm taking this in. Expect a full response, and probably some patches or smaller issues folks can work on sometime tomorrow.

[2015-07-02 22:07] elrayle commented on #153
@jcoyne Are you able to create a specific resource class (which uses the extended set of properties) from ActiveTriples::Resource (e.g. class DummyResource < ActiveTriples::Resource) and use the configurations on property definitions that you added to your version of NodeConfig?  I don't want DummyResource to have to inherit from an in between class that adds the extended configurations.

[2015-07-02 22:41] elrayle commented on #153
## Observations

In exploring this further, I noticed method ActiveTriples::NodeConfig.with_index which appears to be related to similar work. It makes use of two additional configurations, data_type and behaviors.

* behaviors is defined as an attribute in ActiveTriples::NodeConfig, but is not given a default value in the initialize method.  It is also referenced in the with_index method and the

[2015-07-03 01:40] no-reply commented on #153
Thanks @elrayle,

Many of the things you've noticed in `NodeConfig` are left over from the ActiveFedora 6 days; that code originated there, and was initially copied more or less wholesale.

I'm not in a good position to speak about the needs of `ActiveFedora`, here, but for this library's part my inclination would be to remove `#with_index` and `IndexObject` entirely and add a mechanism for extend

[2015-07-03 03:13] jcoyne commented on #153
I'd be :+1: to moving the with_index stuff back into AF and removing it from AT.

[2015-07-03 03:16] jcoyne commented on #153
@elrayle yes, you can add it to any AT class provided you don't use property (or override it) You will have to use a custom PropertyBuilder. See AF for the example of that.

[2015-07-03 04:44] no-reply commented on #147
The email mentioned by @elrayle previously reads:

All of the existing persistence strategies will handle circular relations fine, the problem arises if you try to employ circular persistence. If none of the resources actually persists anywhere but to another in-memory resource, there is no place to persist in the end.

What `PersistenceStrategy` aims to do* is clarify existing patterns of persist

[2015-07-07 18:22] ndushay commented on #154
wow - when @elrayle does a bug report, she REALLY does a bug report!

[2015-07-07 18:25] jcoyne commented on #154
@ndushay and when @no-reply says "tomorrow" he means "in a few weeks' ;)

[2015-07-07 18:27] no-reply commented on #154
I put a few hours in last Friday, and responded to several of the other issues opened. I'm working on this library every day.

[2015-07-07 23:41] elrayle commented on #153
I made use of the syntax provided by @no-reply.  The completed gem, which requires no change to ActiveTriples, is located at...  https://github.com/ActiveTriples/active_triples-solrizer.

The README provides working examples.

Please do not remove the with_index code from ActiveTriples NodeConfig class.  The new active_triples-solrizer gem depends on this code to interact with ActiveTriples resour

[2015-07-07 23:42] elrayle commented on #153
I will leave this issue open for approximately a week for further comments on the design.

[2015-07-08 02:50] no-reply commented on #153
This looks great @elrayle! Thanks for putting it together.

Can you comment on the relationship between the `data_type` arguments and the typed data in individual values?  Do you stringify all values before indexing? If so, are you counting on the `Literal#to_s` to normalize in some way?

I ask in part because it may help me update and strengthen tests of behavior between `ActiveTriples::Relation`

[2015-07-08 11:51] #145 closed

[2015-07-08 20:50] no-reply commented on #41
@dchandekstark If you have a minute, I'd like your feedback on #155, whether that resolves this adequately, and whether it should be ported back to `0.6.x` and `0.7.x`.

[2015-07-08 21:40] dchandekstark commented on #41
@no-reply Seems like a positive step, thanks!  Not sure about back porting to those minor versions since I am still using AT 0.2.3 in AF 7.x.

[2015-07-09 00:21] no-reply opened #158 "Should RDFSource/Resource Classes Inherit Configuration from their Parents?"
#154 calls for inheritance of configuration on RDF type, base URI, and persistence; per: https://github.com/ActiveTriples/ActiveTriples/blob/compatibility_tests/spec/compatibility_tests/inherited_configuration_spec.rb#L27-L38

Things worked like this prior to 0.7.0, but disappeared with the introduction of `RDFSource` and the move away from subclassing as the main paradigm. It wasn't a tested or d

[2015-07-09 00:27] no-reply commented on #154
Putting these here just to keep track of progress; if I haven't commented, it's because I still have work to do to identify the source of the issue:

  - __reciprocal_spec.rb__
    - I can fix this with a one-line change in `Relation#add_child_node` but it causes two other tough failures. We need to figure out how it is that `0.7.x` passes this, so we can at least start from there.
  - __persist_b

[2015-07-09 02:33] no-reply commented on #158
This deals with one of the issues documented by #154.

[2015-07-09 15:02] jcoyne commented on #158
I think it is important to inherit type (so long as the subclass can set its own). I don't think I care about the others.

[2015-07-09 15:05] no-reply commented on #158
:+1:. Type is the most attractive to inherit, and also the most problematic, since there is a type -> class registry.

This exacerbates the problems discussed in the various issues linked from #159.

[2015-07-09 15:19] mjsuhonos commented on #158
IMO this question sort of becomes "how closely do we want RDFSource models to behave like their respective ontologies"; ie. I dealt with this issue a lot when trying to model MODSRDF 1:1 in Ladder, because of how extensively it uses subclassing.

Full configuration inheritance would open the possibility of, eg. parsing an OWLDoc and generating RDFSource classes (similar to vocab-fetch), but I don'

[2015-07-10 21:59] #41 closed

[2015-07-11 17:21] no-reply commented on #100
`RDFSource` cannot be an `RDF::Term` or `RDF::Resource` due to `RDF::Statement`'s handling of `@object`. The result would be statements like:
`#<SourceWithCreator:0x007f2f3cd20060> <http://purl.org/dc/terms/relation> Tove Jansson. `

see: https://github.com/ruby-rdf/rdf/blob/develop/lib/rdf/model/statement.rb#L114-L115

[2015-07-11 17:28] no-reply commented on #100
@gkellogg: I wonder what you think about the possibility of simply removing [L114](https://github.com/ruby-rdf/rdf/blob/develop/lib/rdf/model/statement.rb#L114)? I think this would cause [`Term#to_term`](http://www.rubydoc.info/github/ruby-rdf/rdf/RDF/Term#to_term-instance_method) to be called for `Term`s and `Resource`s.

[2015-07-11 18:12] gkellogg commented on #100
That would cause @object to be set to Literal.new(@object), probably not what you want. Our test coverages should be pretty good, so you can always experiment.

[2015-07-11 18:16] no-reply commented on #100
@gkellogg: I'm thinking all `Term` cases are caught by `Value` on the next line, yes?

I'm wary of unintended consequences, but the core `rdf` specs pass in https://github.com/ruby-rdf/rdf/pull/204; the tests for this library also pass on that branch.

[2015-07-11 18:18] gkellogg commented on #100
No, I think this is fine, and simpler, on second look. I merged the change.

[2015-07-11 18:19] no-reply commented on #100
:rocket:

[2015-07-12 17:35] no-reply commented on #154
@elrayle: it would be amazing if you could try out your own test suites against [feature/circular_child_relations](https://github.com/ActiveTriples/ActiveTriples/tree/feature/circular_child_relations). That branch combines a possible fix for `reciprocal_spec.rb` with the broader work that addresses the other issues.

I think if we can get the contents of that branch, all of these issues are addres

[2015-07-12 18:15] no-reply commented on #158
The branch https://github.com/ActiveTriples/ActiveTriples/tree/feature/type-inheritance includes the proposed type inheritance.

I'm looking at writing tests and documentation for `rdf:type` -> Ruby class relationships. I'll report back when I know more.

[2015-07-12 20:08] #149 closed

[2015-07-14 00:39] #153 closed

[2015-07-14 00:59] no-reply commented on #74
What is the status of this in light of https://github.com/ActiveTriples/ActiveTriples/commit/0ae52d980fa810f50e3e52a7829fce290be62cd0 ?

I'm not sure what is required to recreate the issue in https://github.com/ActiveTriples/ActiveTriples/issues/74#issuecomment-65882684.

For https://github.com/ActiveTriples/ActiveTriples/issues/74#issuecomment-65884308, the status quo is that empty properties ret

[2015-07-14 18:10] #53 closed

[2015-07-14 18:10] #108 closed

[2015-07-23 18:27] dchandekstark commented on #65
FWIW, it would also be great to be able to load a JSON-LD context when fetching.  So, if http://example.com/foo/bar resolves to a JSON-LD doc, then:

[code]

would create the properties as used in the doc with the predicates from the context.

Or, maybe you need a class generator for this ...

[2015-08-18 10:58] elrayle commented on #154
@no-reply I was on another project and then out for a few weeks on vacation. This dropped off my radar for a while.  I am back on it, or will be after Tuesday next week for sure.

[2015-08-18 11:50] elrayle commented on #153
I am guessing by 'typed data in individual values', you mean what I would get if I execute .class on the value?  Solrizer sets the type and it will guess the type automatically if you don't set type= on the property.  In ActiveTriples::Solrizer, it expects the type of the value to be correct for the data_type specified.  It isn't doing any error checking on this.  Solr doesn't care if you call it

[2015-09-23 19:35] mjsuhonos commented on #147
For anyone still interested, I've started this [branch here](https://github.com/ladder/ActiveTriples/tree/mongoid-strategy), but the bulk is in [MongoidStrategy](https://github.com/ladder/ActiveTriples/blob/mongoid-strategy/lib/active_triples/persistence_strategies/mongoid_strategy.rb).  It's early days yet, but it seems to behave (and frankly, integrate) fairly well.  I'm a bit excited.

[2015-10-01 18:10] dchandekstark opened #165 "Relation#set should avoid type checking"
As of 10/1/15:

[code]

Suggest:

[code]

Any reason that wouldn't work?

[2015-10-20 03:58] dchandekstark opened #166 "Validations are broken"
At least in AT 0.7.1, validation callbacks are not run.  See https://github.com/dchandekstark/ActiveTriples/blob/validations-bug/spec/active_triples/validations_spec.rb.

[2015-10-20 16:43] dchandekstark commented on #166
This seems to have been a false alarm.

[2015-10-20 16:54] dchandekstark commented on #166
Still working on it.  There seems to be an issue with the order in which ActiveModel::Validations is included.  At the position it exists in 0.7.1, two of the tests added to #168 fail.  But it *doesn't* need to be moved inside the `included` block as originally proposed in #168.

[2015-10-20 17:47] dchandekstark commented on #166
OK, I think I've got it now.  The problem is that RDFSource includes both `RDF::Enumerable` and `ActiveModels::Validations`, both of which provide `#valid?` and `#invalid?`.  In the include order of v0.7.1, I see this:

 => [ActiveTriples::Resource, ActiveTriples::RDFSource, ActiveModel::Serializers::JSON, ActiveModel::Serialization, RDF::Mutable, RDF::Writable, RDF::Readable, RDF::Queryable, RDF:

[2015-10-20 17:58] no-reply commented on #166
That makes sense, and explains why the error doesn't pop up in 0.8, where this was explicitly patched and tested for. Looks like what we need is to backport this: https://github.com/ActiveTriples/ActiveTriples/blob/develop/lib/active_triples/rdf_source.rb#L67-L72

[2015-10-20 18:01] dchandekstark commented on #166
Excellent.  I'd be happy to amend #168 accordingly.  If that's OK, would love to see 0.7.2 soon.

[2015-10-20 18:01] no-reply commented on #166
yeah. if you can get this going. I'll merge and release ASAP.

[2016-01-05 19:58] jcoyne opened #176 "Release a new 0.8 version."
It's been 7 months since the last version.  There is no released version of 0.8 that works with rdf 1.99

[2016-01-05 20:02] no-reply commented on #176
It would be nice to get https://github.com/ActiveTriples/ActiveTriples/pull/159 (or something similar) in; but I think it's still somewhat controversial.

[2016-01-05 20:13] jcoyne commented on #176
@no-reply I'm pretty sure that's all due to MODS. :cry:

[2016-01-18 20:56] jeremyf opened #177 "Property extending OpenStruct obliterates method cache"
Switch ActiveTriples::Property to a custom class that does not extend OpenStruct.

https://github.com/charliesome/charlie.bz/blob/master/posts/things-that-clear-rubys-method-cache.md

[2016-01-18 21:00] jeremyf opened #178 "Prefer Array.wrap to Array"
Consider ActiveSupport's Array.wrap

[code]

vs. Array() coercion

[code]

[2016-01-18 21:34] jeremyf opened #180 "Conflict in rdf-spec dependency"
In attempting to run the specs, I was encountering errors with the
    custom rdf-spec dependency. I suspect that the rdf-spec was updated
    since the last integration test that was run.

[code]

[2016-01-18 22:29] jcoyne commented on #177
Seems like a PORO would be just fine.  PR welcome.

[2016-01-18 22:30] jcoyne commented on #180
How is it you are getting this. See here: https://github.com/ActiveTriples/ActiveTriples/blob/develop/active-triples.gemspec#L17

[2016-01-18 22:31] jcoyne commented on #180
Is this due to confusion between the develop and master branch?

[2016-01-18 23:17] jeremyf commented on #177
Working on it. Need to get my dev environment working. But that requires
the Gemfile change from the other PR. I'll be working on that tomorrow.

Jeremy Friesen
On Jan 18, 2016 5:29 PM, "Justin Coyne" <notifications@github.com> wrote:

[2016-01-19 01:06] no-reply commented on #180
:laughing: I don't feel that strongly about it; but we've been using it here for a while; and it's in use on all the RDF.rb gems. I think we'd need a pretty strong argument to motivate a change.

In any case, this is closed by merge of #181.

[2016-01-19 01:06] #180 closed

[2016-01-19 13:47] #178 closed

[2016-01-19 15:13] jeremyf commented on #165
Favor `Array.wrap` over `Array`. See #178

[2016-01-19 15:21] dchandekstark commented on #165
+1 @jeremyf

[2016-01-19 23:00] #177 closed

[2016-01-19 23:42] no-reply commented on #165
Both 'Array()` and `Array.wrap()` fail some `RDF::List` related specs.

There's probably a better approach, here, but it's more complicated than the suggested solution accounts for.

I'm :+1: on stripping out type checks as much as possible, but I've looked at this three or four times, and I don't see a clear solution. PRs welcome.

[2016-01-20 04:11] no-reply commented on #147
The issue as described is patched in the latest `develop`. A deeper solution is proposed in #184.

[2016-01-20 04:24] no-reply commented on #154
I think we're caught back up on all of this, at long last.

#184 will close the circular relationship issue (which is represented by #147).

Type inheritance I'm still understanding as a new feature, reflected by #158; a partial proposal exists, but there are type/class issues that remain to iron out.

[2016-01-20 04:24] #154 closed

[2016-01-20 04:25] no-reply commented on #154
@elrayle: Feel free to re-open if one or more of these issues isn't adequately resolved as described in the comments.

[2016-01-20 04:28] no-reply commented on #166
Did we eventually get this patched in 0.7.x?

[2016-01-20 04:36] #100 closed

[2016-01-20 05:02] no-reply commented on #90
Not sure where this got fixed, but it did. :)

Closing.

[2016-01-20 05:02] #90 closed

[2016-01-20 05:07] no-reply commented on #38
This is fixed by #159

[2016-01-20 05:07] #38 closed

[2016-01-20 05:10] no-reply commented on #43
This is still open, and should be regarded as a prerequisite to a next release.

[2016-01-20 05:14] no-reply commented on #74
I'm going to go ahead and close this. The array delegation has changed massively in `Relation`; if there's still something to discuss here, let's open a new issue linking back and summarizing the current status.

[2016-01-20 05:14] #74 closed

[2016-01-20 05:15] #117 closed

[2016-01-20 05:17] no-reply commented on #91
This is fixed in the latest develop.

[2016-01-20 05:17] #91 closed

[2016-01-20 15:20] #15 closed

[2016-01-20 15:37] dchandekstark commented on #166
0.7.2 works for me.

[2016-01-20 15:39] no-reply commented on #166
:roller_coaster:

[2016-01-20 15:39] #166 closed

[2016-01-21 23:54] no-reply opened #186 "Changes to `add_child_node` behavior?"
#184 deals with the problem of circularity in child nodes, but I want to propose a more radical change.

From the beginning, the default behavior when setting a `Resource`/`RDFSource` to a value has been to make the added instance a "child" of the target. So `subject.relation = other` sets  `other.parent` to `subject`. This leads to awkward state changes for the value resources, as a side effect o

[2016-01-21 23:56] no-reply commented on #186
cc: @jcoyne @tpendragon @dchandekstark

[2016-01-22 16:08] no-reply commented on #186
also cc: @elrayle

[2016-01-22 17:47] #147 closed

[2016-01-22 17:49] tpendragon commented on #186
@no-reply What happens here:

[code]

[2016-01-22 17:55] no-reply commented on #186
`#==` tests [RDF Term equality](https://github.com/ActiveTriples/ActiveTriples/blob/develop/lib/active_triples/rdf_source.rb#L113-L125) and would give `true`.

`#eql?` would give `false`.

[2016-01-22 17:57] no-reply commented on #186
The pitfall here is that users would need to be conscious of their instances.  It would be normal to want `other` to fall out of scope and deallocate after setting it to a value.

Using `#build` or similar would save you the trouble of worrying about it.

[2016-01-22 18:09] no-reply commented on #186
In #projecthydra IRC, @tpendragon said:

I changed the example in the main issue text to show that it doesn't/shouldn't. The two instances now have distinct graphs.

[2016-01-22 19:15] no-reply commented on #143
A first step in fixing a solution for this is at: https://github.com/ActiveTriples/ActiveTriples/issues/186

From IRC:

[2016-02-03 21:02] no-reply commented on #186
#188 is a potential implementation of these changes, for comment.

[2016-02-05 18:38] tpendragon opened #190 "Test Relation#== and Relation#eql?"

[2016-02-05 18:40] #186 closed

[2016-02-17 14:30] elrayle opened #193 "blanknode does not resume with enclosing parent"
Branch:  blank_node_test
TestFile: [spec/active_triples/upgrade_from_6_to_8_spec.rb](https://github.com/ActiveTriples/ActiveTriples/blob/blank_node_test/spec/active_triples/upgrade_from_6_to_8_spec.rb)
Test:
[code]

There are commented out puts statements that can be used for debugging to confirm that all triples are correctly in the repository and that the resumed comment annotation does not have

[2016-02-17 14:42] elrayle opened #194 "property defined with classname does not fully resume with resource"
Branch:  blank_node_test
TestFile: [spec/active_triples/upgrade_from_6_to_8_spec.rb](https://github.com/ActiveTriples/ActiveTriples/blob/blank_node_test/spec/active_triples/upgrade_from_6_to_8_spec.rb)
Test:
[code]

There are commented out puts statements that can be used for debugging to confirm that all triples are correctly in the repository and that the resumed comment annotation does not have

[2016-02-17 16:29] elrayle opened #195 "Persist and then destroy final_parent with descendants leave descendant triples in repository"
Branch:  blank_node_test
TestFile: [spec/active_triples/upgrade_from_6_to_8_spec.rb](https://github.com/ActiveTriples/ActiveTriples/blob/blank_node_test/spec/active_triples/upgrade_from_6_to_8_spec.rb)
Test:
[code]

There are commented out puts statements that can be used for debugging to confirm that triples in the repository and objects are correct.

[code]

NOTE: Removes only triples related to

[2016-02-17 16:35] elrayle opened #196 "Persist final_parent and then destroy grandchild leaves a grandchild triple in final_parent"
Branch:  blank_node_test
TestFile: [spec/active_triples/upgrade_from_6_to_8_spec.rb](https://github.com/ActiveTriples/ActiveTriples/blob/blank_node_test/spec/active_triples/upgrade_from_6_to_8_spec.rb)
Test:
[code]

There are commented out puts statements that can be used for debugging to confirm that triples in the repository and objects are correct.

[code]

NOTE: Correctly removes `<http://www.

[2016-02-22 18:26] mjsuhonos commented on #139
Circling back around on this now.  Given where `RDFSource` is now and the move towards RDF.rb 2.0, I suggest deprecating `Identifiable` entirely; I don't think it provides any advantage over `RDFSource`.

[2016-02-22 18:31] no-reply commented on #139
@tpendragon do you agree this is a good goal?

[2016-02-22 18:32] mjsuhonos commented on #135
Is the issue here to avoid (infinite) recursive calls to `#persist!`, ie. from within the callback?  Since we're delegating to `persistence_strategy` anyway, do we have a use case that requires this code in the first place?  Happy to work on this.

[2016-02-22 19:29] jcoyne commented on #139
Wasn't this a thing for RDF datastreams in AF?

[2016-02-22 19:31] no-reply commented on #139
Yes. The Q is whether `RDFDatastream` could `include ActiveTriples::RDFSource`, or whether `Identifiable` is still doing something unique.

[2016-02-23 18:51] elrayle commented on #194
This isn't really about parent_strategy.  This is a change in behavior for all resources that have class_name defined.

Branch: blank_node_test
TestFile: spec/active_triples/upgrade_from_6_to_8_spec.rb
Test:
[code]

There are commented out puts statements that can be used for debugging to confirm that all triples are correctly in the repository and that the resumed chapter does not have all the tr

[2016-02-23 20:02] elrayle commented on #194
Not sure why this isn't working.  Still digging.  But here is where it appears to be falling over.

These are the lines in #reload where before reload ch1 isn't populated, but after reload it is (for 0.6)
[code]

The 0.8 query fails to load all attributes of ch1.  The query is slight different in that 0.6 sets the subject to rdf_subject and 0.8 sets it to obj.  I don't have time to test this furth

[2016-02-25 18:42] mjsuhonos commented on #87
Following up on this; we are still calling `#reload` in `#initialize` [here](https://github.com/ActiveTriples/ActiveTriples/blob/develop/lib/active_triples/rdf_source.rb#L103).

I might propose rewriting L101-103 like so:
[code]

Would this fit with the past (now closed) issues that reference this one?

[2016-02-25 18:59] mjsuhonos opened #198 "Allow setting default PersistenceStrategy on a class"
As per the documentation:

This is flexible, but can be a bit repetitive if a particular class implementing `RDFSource` always expects to use a 3rd-party `PersistenceStrategy`.  Some options I can see:

1. require classes as above to overload `#persistence_strategy` to return their chosen `PersistenceStrategy`
2. implementing a `#set_default_persistence_strategy` (or similar) class method in `Pers

[2016-02-25 19:33] elrayle commented on #87
There is an open issue (https://github.com/ActiveTriples/ActiveTriples/issues/194) that is affected by reload.  I do not know whether @mjsuhonos proposal would impact this for the better or worse.  This issue came with the change from 0.6 to 0.8.

[2016-02-25 23:41] elrayle commented on #194
I'm not sure the difference is happening at load time through path new -> reload -> query.  The triples in self are the same at 0.6 and 0.8.  When you attempt to access the property with class_name (e.g. bk1.has_chapter), it goes through get_values -> get_term (0.6) and get_values -> get_relation (0.8).  The object that is returned is of the correct class in both cases.  But for 0.8, the object on

[2016-02-26 17:34] mjsuhonos commented on #87
Thanks @elrayle - I'll keep an eye on #194; unfortunately I'm not too familiar with `ParentStrategy` so probably can't help much on that issue right now.

Implementing the code above against the `blank_node_test ` branch had no effect on the test results, so they're likely separate issues.

[2016-03-02 19:03] elrayle commented on #194
Define class (DummyBook) for a resource that has a property (has_chapter) defined with class_name (DummyChapter).
[code]

Create instance of both and persist.  NOTE: Not using parent_strategy for property resource.
[code]

Read resource that has a property defined with class_name from the repository.
[code]

Get resource from property.
[code]

Get title from property resource.
[code]

What happens

[2016-03-02 19:32] elrayle commented on #194
@no-reply @tpendragon Please review the last comment which summarizes how to reproduce, what is happening, and a proposed solution.

[2016-03-04 23:05] cbeer commented on #176
Bump?

[2016-03-05 01:14] elrayle commented on #176
I am actively working on a solution to #194.  Moving to parent_strategy for rdf_sources created via class_name on property definitions has changed the behavior this had in pre-0.8 releases.  It would be good to have this in the latest release.  Or we could have another quick release after this issue is resolved.

[2016-03-07 23:08] elrayle commented on #194
I am looking for the right place to put a loaded=true|false flag.

Currently, when you read the book from the repository, the following happens...
* The book is initialized as an RDFSource with RepositoryStrategy
* Each property for book is created as a Relation
* Creating a Relation for has_chapter property b/c it has class_name defined
  * Calls Relation.make_node to create an RDFSource of the s

[2016-03-08 20:28] elrayle commented on #193
Fixed by PR #199

[2016-03-15 16:34] #194 closed

[2016-03-15 16:38] #193 closed

[2016-03-16 19:33] elrayle opened #200 "A -> B -> A blanks out all properties in A when B uses parent_strategy"
This was discovered in an ORE implementation where the proxy uses parent_strategy AND has property proxy_in which points to the aggregation using repository_strategy.

In ORE pseudocode
[code]

NOTE:   After setting the reciprocal relationship from the proxy back to the aggregation, the title property (and all other properties) on agg1 are empty.

[2016-03-16 19:56] elrayle commented on #200
See tests in [reciprocal_properties_spec.rb](https://github.com/ActiveTriples/ActiveTriples/blob/FIX_200-reciprocal_properties/spec/integration/reciprocal_properties_spec.rb)

* PASSES when A and B both use RepositoryStrategy
* FAILS when A uses RepositoryStrategy and B uses ParentStrategy

[2016-04-07 16:42] #200 closed

[2016-04-07 20:32] elrayle commented on #198
Partially fixed by by PR #202.

[2016-04-18 19:22] elrayle commented on #176
0.8.2 was released last week.

[2016-04-18 19:22] #176 closed

[2016-04-18 19:56] elrayle opened #206 "attributes should not include predicates for statements with a different subject"
#attributes includes predicates for statements in the resource even if the predicate is only used on triples with a subject different from the resource.

Why?  #attributes calls #unregistered_predicates calls #predicates which returns all predicates in the graph.

[2016-04-18 22:55] no-reply commented on #165
Closing this in lieu of a better suggestion.

[2016-04-18 22:55] #165 closed

[2016-04-18 23:19] #17 closed

[2016-04-19 13:00] elrayle commented on #206
@no-reply Do you agree with the premise of this issue?

[2016-04-19 16:50] elrayle commented on #206
NOTE: When using ParentStrategy, this also prevents child resources' statements which live in the parent from being included in the attributes list for the parent.

[2016-04-19 22:46] eocarragain opened #209 "Readme Persistence example differs from actual behaviour"
When following the README in irb, the output I get differs from the documentation. Specifically, the Person-related triples are persisted to :default rather than :people

Output (c.f. README)
[code]

If i create and persist a Person instance without associating it with a Thing instance, it works as expected:
[code]

[2016-05-04 22:40] #206 closed

[2016-06-02 23:21] no-reply commented on #196
Running into this bug with a 0.9.x upgrade for DPLA. Going to try to squash it ASAP.

[2016-07-11 18:31] tpendragon opened #222 "Make `data` accessible from an AT::Resource"
Should we open up the `graph` method or just delegate `data` down?

[2016-07-11 18:51] no-reply commented on #222
If we go with making `#graph` public, I want to be careful about the contract for the method.

I'm reluctant to guarantee the return value as an `RDF::Graph`, thinking of the changes in https://github.com/ActiveTriples/ActiveTriples/tree/feature/tx-parent. `RDF::Queryable + RDF::Mutable`, could work; but I think you also want a promise that `#data` will be an `RDF::Repository`... ...thinking about

[2016-07-11 18:56] tpendragon commented on #222
`@ldp_source.graph` is an AT::RDFSource, yes.

[2016-07-21 14:01] no-reply commented on #196
https://github.com/ActiveTriples/ActiveTriples/compare/feature/tx-parent goes a long way toward fixing this. There's probably a change or two we want to make to `RepositoryStrategy` to deal with the remaining failing test from the linked test file.

I'm going to continue to push that branch forward first, then come back to this issue.

[2016-07-21 17:35] no-reply commented on #222
@tpendragon my changes in the https://github.com/ActiveTriples/ActiveTriples/tree/feature/tx-parent branch make some progress on this. `#graph` is public, but it's return value may be an `RDF::Transaction`.

I'm still thinking about the implications of this, but we'll want to work a bit to refine the APIs if you're still eyeing projecthydra/active_fedora#1111.

[2016-07-26 22:41] no-reply commented on #16
I think we decided against `RDFSource` instances supporting named graphs. @barmintor's issue is also patched, since we no longer subclass `RDF::Graph`. `#name` and associated behaviors is no longer an issue.

[2016-07-26 22:41] #16 closed

[2016-07-28 04:09] no-reply commented on #143
Can we consolidate this into https://github.com/ActiveTriples/ActiveTriples/issues/198?

[2016-07-28 04:12] no-reply commented on #139
I think @tpendragon's updates to ActiveFedora clarify that this is still needed in that context. I'd still like to look for other patterns to support that, but I'm resolving this ticket.

[2016-07-28 04:12] #139 closed

[2016-07-28 04:23] no-reply commented on #60
Looking at this again after all this time, I think it's fine as is. We can always cast the literal manually, and staying aligned with RDF.rb seems best.

[2016-07-28 04:23] #60 closed

[2016-07-29 18:56] elrayle opened #225 "Dependencies conflict with Ruby version"
https://rubygems.org/gems/listen 3.1.2 and higher require Ruby 2.2.3.  To use earlier versions of Ruby requires pinning listen to 3.1.1.

[active-triples.gemspec](https://github.com/ActiveTriples/ActiveTriples/blob/develop/active-triples.gemspec) states...
[code]

[Travis config](https://github.com/ActiveTriples/ActiveTriples/blob/develop/.travis.yml) is set up to test... 2.1 and 2.2.4.  Not sure

[2016-07-29 18:59] elrayle commented on #225
@no-reply Can we update the required_ruby_version to 2.2.3?

[2016-07-29 19:02] no-reply commented on #225
`ActiveTriples` doesn't have a dependency on `listen`. Is that coming in somewhere else for you?

I'd prefer to continue to support Ruby 2.1 and up. I understand this to be increasingly standard practice in the gem ecosystem.

[2016-07-29 19:06] elrayle commented on #225
I took a fresh clone of ActiveTriples and ran the tests.  To run the ActiveTriples tests on my machine, I had to pin the following...

[code]

[2016-07-29 19:06] elrayle commented on #225
This was using Ruby 2.2.2.

[2016-07-29 19:10] no-reply commented on #225
Have you tried upgrading to [`bundler` 1.11.x](http://bundler.io/blog/2015/12/12/version-1-11-released.html#new-features)? This should resolve your gems by `required_ruby_version`.

[2016-07-29 19:18] elrayle commented on #225
Bundler was the problem.  Thanks.

[2016-07-29 19:20] no-reply commented on #225
Any time.

Unfortunately, this seems to be the status quo for gems depending on `activesupport` post Rails 5. On the plus side, the newest bundler versions handle it fine as long as we stay 4.2 compatible.

[2016-07-29 19:40] elrayle commented on #225
From Travis...  test fails for 2.1.0

[code]

@no-reply Had to reopen because the problem does still exist for any Ruby < 2.2.2.

[2016-07-29 19:43] no-reply commented on #225
@elrayle can you link to a build where this fails? I don't see this in https://travis-ci.org/ActiveTriples/ActiveTriples/branches

[2016-07-29 19:57] elrayle commented on #225
Reference:  https://www.ruby-lang.org/en/news/2016/02/24/support-plan-of-ruby-2-0-0-and-2-1/

Based on this, it seems that it would be good to support 2.1.  ActiveSupport's latest version (5.0.0) won't work with it though.

[2016-07-29 20:08] no-reply commented on #225
I'm not clear on what the current issue is.

Travis looks happy, to me. We have [a pin in our Gemfile](https://github.com/ActiveTriples/ActiveTriples/blob/develop/Gemfile#L5), and `bundler` 1.11 resolves gem versions explictly to handle cases like this.

Locally, when I use Ruby 2.1 or 2.2, everything rewinds to ActiveSupport/ActiveModel 4.2 without any trouble.

Can you clarify?

[2016-07-29 20:17] elrayle commented on #225
There must be something different in my local environment for AT.  I pushed a branch just to test ruby 2.1 and 2.2.2 and Travis was happy with both.

[2016-07-29 20:17] #225 closed

[2016-07-29 20:22] no-reply commented on #225
:ok_hand: Do feel free to reopen if you figure out what's going on.

[2016-07-29 22:24] no-reply commented on #120
I think I want to call this closed with #226. All of the public methods of `Relation` are now documented. Testing could still be improved, but I think we're pretty close to a coherent API.

[2016-07-29 22:40] no-reply commented on #42
I'm thinking this should be scoped to a refactor of how `#<<`, `#set`, and (private) `#set_value` interact.  After #226, I don't think there's any reason these operations ever need to deal with `Array` representations. It should be possible to align this all much more closely with RDF.rb's `RDF::Term` equality.

My concern with isomorphism (or normalization) is that we would need to define the sco

[2016-07-29 22:55] no-reply opened #227 "Fixup README.md"
The README needs an overhaul for new releases.

See also: https://github.com/ActiveTriples/ActiveTriples/issues/209

[2016-08-01 15:50] elrayle commented on #225
FYI... the offending gem bringing in Listen 3.1.5 was guard-rspec.  This gem was in AT 0.8.2 gemspec, but not in AT 0.10.0.  So it was hanging around when I switched to the latest code causing problems on my local machine but for Travis.  I cleaned everything up locally and the dependency conflict is gone.

[2016-08-05 22:43] no-reply commented on #135
The current state of this is described here: https://github.com/ActiveTriples/ActiveTriples/pull/228#issuecomment-237037294

[2016-08-06 00:14] no-reply commented on #25
Closing this as stagnant. This is still an unresolved question, but I'm not sure anyone cares.

[2016-08-06 00:14] #25 closed

[2016-08-06 01:00] no-reply commented on #43
A proposed fix for this is at https://github.com/ActiveTriples/ActiveTriples/tree/feature/close-43. It's a really simple change to finish the work started by #159.

There are remaining questions about whether to keep the `type_registry` and how to decide which class to build for which objects. I think those can be documented in another issue and, if tests are added, the branch linked above can clo

[2016-08-09 04:45] no-reply commented on #87
WIP is at https://github.com/ActiveTriples/ActiveTriples/tree/feature/revert-reload

[2016-08-09 04:54] no-reply commented on #131
Collapsing this into #158

[2016-08-09 04:54] #131 closed

[2016-08-09 16:35] no-reply commented on #135
@tpendragon, @mjsuhonos, @elrayle: This diff is my latest attempt at removing automatic `#persist!` calls to support this issue: https://github.com/ActiveTriples/ActiveTriples/compare/966e27d...feature/remove-persisting-flag

I think this is basically the right way to go; continuing to evaluate the testing situation. This will definitely be a change for users, so I'm looking for early feedback.

[2016-08-10 01:06] no-reply commented on #222
@tpendragon i think this might be closed for your purposes.

Ignoring Demeter, you have `@ldp_source.graph.data`. For your cases, this will return an `RDF::Repository`.

For objects using `ParentStrategy`, `#graph` can return a `BufferedTransaction`, which implements the `Transaction`, rather than `Graph`. I suspect you'll get an error if that happens, which should be fine.

If you'd like to scope

[2016-08-10 01:47] #143 closed

[2016-08-11 20:18] no-reply commented on #190
Closed by #226

[2016-08-11 20:18] #190 closed

[2016-08-11 20:31] no-reply commented on #42
Calling this closed by #226, as discussed above.

[2016-08-11 20:31] #42 closed

[2016-08-11 20:53] #120 closed

[2016-08-12 01:02] no-reply commented on #135
A new branch for this: https://github.com/ActiveTriples/ActiveTriples/compare/feature/remove-auto-persist

[2016-08-18 23:38] tpendragon opened #244 "RDF::Literals shouldn't cast to strings by default."
It seems friendly, but all it does is lose data.

[2016-08-19 15:03] no-reply commented on #244
:+1:

Currently:

[code]

[2016-08-19 15:57] no-reply opened #245 "Literal languages are lost on repeated `#<<` calls"
We lose language values when setting using existing values. This affects `#<<`, and `#set` calls when a `Relation` is the argument.

[code]

[2016-08-19 15:57] no-reply commented on #245
This apparently affects every version, at least since 0.7.x.

[2016-08-19 17:03] gkellogg commented on #245
The vocabulary classes don't retain language. It keeps strings or symbols, which are interpreted according to the range of the property they use. Language has never been supported in the Vocabulary class definitions.

[2016-08-19 17:09] tpendragon commented on #245
@gkellogg They don't, but that's good to know about RDF::Vocabulary.

[2016-08-19 17:10] tpendragon commented on #245
Some chatter in Hydra, summarized as such: This PR breaks identifiable in the following way - https://github.com/ActiveTriples/ActiveTriples/compare/literal_fix_breaking_spec#diff-2c44efc8662822e940a63660d6b0fcc2R171

[2016-08-19 17:13] tpendragon commented on #244
I think casting from literals with language tags to a string was a bad idea. Functionality should be something like this:

[code]

[2016-08-19 17:18] #222 closed

[2016-08-19 23:08] #209 closed

[2016-08-22 19:56] #158 closed

[2016-08-24 17:26] no-reply commented on #245
Closed by #246.

[2016-08-24 17:26] #245 closed

[2016-08-24 17:26] no-reply commented on #244
Closed by #246.

[2016-08-24 17:26] #244 closed

[2016-09-13 14:18] jcoyne opened #251 "Schema#query used to return an RDF::Queryable::Enumerator, now returns an Array."
Change between 0.10 and 0.11.   Was this intentional?

Changes I had to make:

[code]

[2016-09-13 21:26] jcoyne opened #252 "Array.wrap ActiveTriples::Relation no longer works correctly in 0.11.0"
[code]

[2016-09-14 01:27] jcoyne commented on #252
Dues to removing `to_ary` here: https://github.com/ActiveTriples/ActiveTriples/commit/46e646460d3147fedbdc48890bd4b4fb3f1323da.  Would anyone care if I re-added it?

[2016-09-14 03:24] jcoyne commented on #252
Here's another problem:
[code]
when doing `Array + ActiveTriples::Relation`

[2016-09-14 15:47] no-reply commented on #252
I have mixed feelings...

On the one hand, I think the behavior described is technically correct (which is my favorite kind of correct). The most helpful guidance I've seen on when to provide implicit conversions is [your type should implement it only if it sees itself as “kind of” target type](https://zverok.github.io/blog/2016-01-18-implicit-vs-expicit.html). I don't think we meet that bar, sinc

[2016-09-14 16:05] jeremyf commented on #252
We have a known downside for not treating it as an array. And a theoretical/semantic potential for downsides if we do treat it as an array (for Coercion purposes).

It sounds like a more "formal" solution is that we provide a presenter wrapper around these relations. But that might be very heavy handed.

[2016-09-14 16:13] no-reply commented on #252
Leaning toward simply adding `#to_ary` back, though I have a creeping feeling that we'll come to regret it. I'm +0.

I'd like to get @tpendragon's input before moving ahead.

[2016-12-19 21:42] no-reply commented on #252
Proposing to close this. ActiveFedora seems to be doing okay without this method at this point.

[2016-12-19 23:39] #43 closed

[2016-12-20 00:05] #135 closed

[2017-01-03 02:53] #252 closed

[2017-02-23 02:02] no-reply opened #257 "Make ActiveTriples::RDFSource#default_labels public or protected"
No reason this shouldn't be public, as far as I can tell. It should be protected, at least, so factory methods from related classes can access it.

[2017-07-24 16:00] cbeer opened #260 "Backport removing the dependency on linkeddata to ActiveTriples 0.4"
`linkeddata` was removed as a dependency in #235. I have an application stuck on AT 0.4 (thanks to active-fedora 8.x).

Here is a branch with that change:

https://github.com/cbeer/ActiveTriples/tree/0.4-no-linkeddata

[2017-08-14 20:17] #260 closed

[2017-10-06 20:54] no-reply opened #265 "Implement a working `RDFSource#dup` and `RDFSource#clone`."
Currently `#dup` fails to give us a safe working copy:

[code]

The above code should not change the graph in `source`.

[2017-10-16 22:47] no-reply commented on #19
This works as expected in the current `develop`.

[code]

[2017-10-16 22:53] #19 closed

[2017-10-16 23:21] no-reply commented on #251
Query is delegated to `RDF::Queryable` across the board. We want to keep the behavior from that module, which promises: https://github.com/ruby-rdf/rdf/blob/431785c396a149c6b209a9987b131370a7ea565e/lib/rdf/mixin/queryable.rb#L40-L41

[2017-10-16 23:21] #251 closed

[2017-10-23 19:44] #257 closed

[2018-01-09 09:55] rwd opened #272 "Persisted grandchildren not loaded through child"
**Scenario:**
* three RDFSource models A, B and C
* A has children of class B
* B has children of class C
* create an A with a child B having a child C
* persist the instance of A

**Expectations:**
1. all of A, B and C should be persisted
2. after reloading A, its child B should be accessible through it, as should B's child C

**Problem:**
Expectation 1 is met, but 2 is not. The grandchild C acce

[2018-01-09 12:07] rwd commented on #272
Changing in [`ActiveTriples::Relation#make_node`](https://github.com/ActiveTriples/ActiveTriples/blob/v1.0.0/lib/active_triples/relation.rb#L583):
[code]
to:
[code]
makes the above spec pass, and does not cause failure of any others.

Is this a valid solution?

[2018-01-25 21:39] revgum opened #273 "#<< is not adding / persisting a value"
[code]

[2018-06-14 17:32] no-reply commented on #273
This is an ActiveFedora issue, not an ActiveTriples one.

[code]

My understanding of the issue is that `ActiveFedora`'s `#<<` method fails to flag the attribute as updated, and as a result skips it when building the SPARQL Update to send back to the LDP endpoint.

[2018-06-14 17:33] #273 closed